.container-fluid {
	background: beige !important;
	width: 100vw;
	height: 100vh;
}

.bg-faded, .btn-primary{
	background: #3E4170 !important;
	color: #fff !important;
}

.nav-link {
	color: #fff !important;
}

.navbar-brand {
	color: #fff !important;
}
